{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}


{% block body %}


<script>
    function cb(response) {
        document.getElementById('visits').innerText = response.value;
    }
</script>
<script async src="https://api.countapi.xyz/hit/cvjulienbonzom.online/visits?callback=cb"></script>
        <div class="bloc_page">
            <div class="bordure"><!-- Bordure esthetique --></div>
            <bodyLast>
                <div class="texte">
                    <div class="partie_inf">

                        <header>

                            <div class="entete_sup3">
                                <div class="entete_sup2">
                                    <div class="entete">
                                        <div class="nom">Julien BONZOM</div>
                                        <div class="texte2">
                                            100, avenue de la libération
                                            <br /> 33700 MERIGNAC
                                            <br /> tel: 06.76.11.84.57</div>

                                        <div class="mail"><a href="mailto:bonzomj@gmail.com">bonzomj@gmail.com</a></div>
                                        <br />
                                        <i>This site has been visited <span id="visits"></span> times.</i>
                                    </div>


                                    <div class="fonction">Développeur/Ingénieur Mécanique</div>
                                </div>
                                <div class="separation"></div>
                            </div>

                            <a href="photo_J_BONZOM.jpg"><img src="photo_J_BONZOM_mini.jpg"  alt="Photo de Julien BONZOM" title="Cliquez pour agrandir" class="fin"/></a>

                        </header>


                        <div class="total">
                            <section>
                                <div class="base">
                                    <div class="competences"><p><h2>Compétences:</h2>
                                        <ul>
                                            {% for skill in skills %}
                                            <li><Strong>Languages Informatiques:</Strong> {{ skill.Languages }}</li>
                                            <li><Strong>Outils AIRBUS:</Strong> {{ skill.AIRBUS }}</li>
                                            <li><Strong>Outils DASSAULT:</Strong> {{ skill.DASSAULT }}</li>
                                            <li><Strong>Outils CALCUL/DESIGN:</Strong> {{ skill.CALCUL_DESIGN }}</li>
                                            <li><Strong>Outils OFFICE:</Strong> {{ skill.OFFICE }}</li>
                                            <li><Strong>Langues:</Strong> {{ skill.Langues }}</li>
                                            {% endfor %}
                                        </ul>

                                    </div>

                                    <div class="formation"><p><h2>Formation:</h2>
                                        {% for formation in formations %}
                                        <ul>
                                            <li><Strong>{{ formation.date }}</Strong> {{ formation.texte }}</li>
                                        </ul>
                                        {% endfor %}

                                    </div>

                                    <div class="stages"><p><h2>Stages:</h2>
                                        <ul>
                                        {% for stage in stages %}
                                        <li><Strong>{{ stage.monthbegin }}/{{ stage.yearbegin }} – {{ stage.monthend }}/{{ stage.yearend }}:</Strong><br />Stage chez {{ stage.company }}.<br />{{ stage.descriptif }}</li>
                                        {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="loisirs"><p><h2>Loisirs:</h2>
                                        <ul>
                                            <li><i><a href="/loisirs#titres_montagne" >Sports de montagne</a>, sports de mer, <a href="/loisirs#titres_musique" >ateliers de musique Jazz</a>.</i></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="espace"></div>
                                <div class="pro"><h2>Expériences Professionnelles:</h2>
                                    <a href="./CV-J_BONZOM.pdf" target="_blank"><i><Strong>Curriculum vitae</Strong></i></a><br>
                                    {% set iteration = 0 %}
                                    {% for etapepro in etapespro %}
                                    {% set iteration = iteration + 1 %}
                                    <h3><Strong>{{ etapepro.mois }} {{ etapepro.year }} - {{ etapepro.job }} chez {{ etapepro.company }}</Strong><br /></h3>

                                        <img src={{ asset("menu.jpg") }} title="Cliquez pour etendre" id={{ 'bouton'~ iteration }} width="40" style="text-align: center"/>

                                        <div id={{ 'cacher'~ iteration }}>
                                        <ul>
                                            {% for step in steps %}
                                                {% if  step.etapespro.company  ==  etapepro.company  %}
                                                <li><Strong>{{ step.monthbegin }}/{{ step.yearbegin }} – {{ step.monthend }}/{{ step.yearend }}:</Strong><br />{{ step.description }}<br/>
                                                    <i>Utilisation {{ step.skills }}</i>
                                                </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                        </div>
                                    <br>
                                    {% endfor %}




            </div>
<script>


    AdapterDivAResolution()




        let string1="bouton"
        let string2="cacher"

        for (let i = 1; i <= 6; i++) {


            window["bouton"+i] = document.getElementById(string1 + i)
            window["cacher"+i] = document.getElementById(string2 + i)
        }

      function cliquage1() {

        if (cacher1.style.display === "none") {
            cacher1.style.display = "block";
            bouton1.src = "menu2.jpg";
            bouton1.title = "Cliquez pour réduire";
        } else {
            cacher1.style.display = "none";
            bouton1.src = "menu.jpg";
            bouton1.title = "Cliquez pour étendre";

        }
    }

    function cliquage2() {


                if (cacher2.style.display === "none") {
                    cacher2.style.display = "block";
                    bouton2.src = "menu2.jpg";
                    bouton2.title = "Cliquez pour réduire";
                } else {
                    cacher2.style.display = "none";
                    bouton2.src = "menu.jpg";
                    bouton2.title = "Cliquez pour étendre";

                }
            }
    function cliquage3() {


                if (cacher3.style.display === "none") {
                    cacher3.style.display = "block";
                    bouton3.src = "menu2.jpg";
                    bouton3.title = "Cliquez pour réduire";
                } else {
                    cacher3.style.display = "none";
                    bouton3.src = "menu.jpg";
                    bouton3.title = "Cliquez pour étendre";

                }
            }
    function cliquage4() {
               if (cacher4.style.display === "none") {
                    cacher4.style.display = "block";
                    bouton4.src = "menu2.jpg";
                    bouton4.title = "Cliquez pour réduire";
                } else {
                    cacher4.style.display = "none";
                    bouton4.src = "menu.jpg";
                    bouton4.title = "Cliquez pour étendre";

                }
            }

    function cliquage5() {
        if (cacher5.style.display === "none") {
                    cacher5.style.display = "block";
                    bouton5.src = "menu2.jpg";
                    bouton5.title = "Cliquez pour réduire";
                } else {
                    cacher5.style.display = "none";
                    bouton5.src = "menu.jpg";
                    bouton5.title = "Cliquez pour étendre";

                }
            }

    cliquage1();
    bouton1.addEventListener('click',cliquage1);
    cliquage2();
    bouton2.addEventListener('click',cliquage2);
    cliquage3();
    bouton3.addEventListener('click',cliquage3);
    cliquage4();
    bouton4.addEventListener('click',cliquage4);
    cliquage5();
    bouton5.addEventListener('click',cliquage5);

    function AdapterDivAResolution() {
        let x_res = screen.width;
        let y_res = screen.height;
        const bouton1 = document.getElementById("bouton1")
        if(x_res < 1024)
        {
            bouton1.src="./images/menu2.jpg";
            bouton1.style.display = "block";
            bouton1.style.visibility="visible";
        }
    }
    AdapterDivAResolution()

</script>
   {% endblock %}